#!/usr/bin/make -f
# -*- makefile -*-

DEB_VERSION := $(shell dpkg-parsechangelog --format rfc822 | grep-dctrl -ensVersion -S .)

DH_VERBOSE=1

%:
	dh $@

override_dh_installinit:
	true

override_dh_clean:
	rm -f compile depcomp install-sh missing
	rm -f extras/gearmand-init
	dh_clean

override_dh_auto_configure:
	./autogen.sh
	dh_auto_configure -- --libdir=/usr/lib64
	#dh_auto_configure -- --localstatedir=/var/lib --prefix=/usr --libdir=/usr/lib64 --exec-prefix=/usr/bin --bindir=/usr/bin --sbindir=/usr/sbin  --localstatedir=/var --sysconfdir=/etc --with-user=nagios --with-gearman=/usr --with-gearman=/usr/lib/x86_64-linux-gnu/
	make clean

override_dh_auto_install:
	dh_auto_install
	sed -e 's%/var/lib/log/mod_gearman/%/var/log/nagios-mod-gearman/%' -i debian/tmp/etc/nagios-mod-gearman/*.conf
	rm -f debian/mod-gearman/usr/share/nagios-mod-gearman/shared.conf
	rm -f debian/mod-gearman/usr/share/nagios-mod-gearman/standalone_worker.conf
	rm -f debian/mod-gearman/etc/init.d/mod-gearman-worker

	help2man --no-info --section=8 --version-string="nagios-mod-gearman-worker $(DEB_VERSION)" \
		--help-option=-h --include=$(CURDIR)/debian/help2man.include \
                -n "Agent that runs active checks from a gearman queue" \
                $(CURDIR)/debian/tmp/usr/bin/nagios-mod-gearman-worker \
                > $(CURDIR)/debian/nagios-mod-gearman-worker.8

	help2man --no-info --section=8 --version-string="nagios-check-gearman $(DEB_VERSION)" \
		--help-option=-h --include=$(CURDIR)/debian/help2man.include \
                -n "Nagios service check to monitor the gearman job server" \
                $(CURDIR)/debian/tmp/usr/bin/nagios-check-gearman \
                > $(CURDIR)/debian/nagios-check-gearman.8

	help2man --no-info --section=8 --version-string="nagios-send-gearman $(DEB_VERSION)" \
		--help-option=-h --include=$(CURDIR)/debian/help2man.include \
                -n "Submit active and passive check results to a gearman job server" \
                $(CURDIR)/debian/tmp/usr/bin/nagios-send-gearman \
                > $(CURDIR)/debian/nagios-send-gearman.8

	help2man --no-info --section=8 --version-string="nagios-gearman-top $(DEB_VERSION)" \
		--help-option=-h --include=$(CURDIR)/debian/help2man.include \
                -n "Monitor the gearman job server" \
                $(CURDIR)/debian/tmp/usr/bin/nagios-gearman-top \
		> $(CURDIR)/debian/nagios-gearman-top.8

	help2man --no-info --section=8 --version-string="nagios-send-multi $(DEB_VERSION)" \
		--help-option=-h --include=$(CURDIR)/debian/help2man.include \
                -n "Submit check results from check_multi to a gearman job server" \
                $(CURDIR)/debian/tmp/usr/bin/nagios-send-multi \
                > $(CURDIR)/debian/nagios-send-multi.8

override_dh_auto_test:
